<section class="second-nav-carousel position-relative">

 <!-- Menu inside overlay, top center -->

<nav  class="overlay-nav">
  <div class="nav-container">
    <!-- Left: Logo -->
    <div class="nav-logo">
      <img src="assets/IndiaLogo-01.png" alt="logo" class="second-logo" />
    </div>

    <!-- Center: Navigation -->
    <ul class="overlay-nav-list">
      <li [class.active]="activeSection === 'Top-page'">
        <a href="#" (click)="navigateAndScroll('Top-page', $event)">Home</a>
      </li>
      <li [class.active]="activeSection === 'about-us'">
        <a href="#" (click)="navigateAndScroll('about-us', $event)">About Us</a>
      </li>
      <li [class.active]="activeSection === 'services'">
        <a href="#" (click)="navigateAndScroll('services', $event)">Services Offered</a>
      </li>
      <li [class.active]="activeSection === 'footer'">
        <a href="#" (click)="navigateAndScroll('footer', $event)">Contact Us</a>
      </li>

       <li [class.active]="activeSection === 'Book-Appointment'">
        <a  href="#" (click)="navigateAndScroll('Book-Appointment', $event)">Book Appointment</a>
      </li>

      <li [class.active]="activeSection === 'Documents-Required'">
        <a href="#" (click)="navigateAndScroll('Documents-Required', $event)">Documents Required</a>
      </li>
    </ul>


    <div class="nav-contact">
      <a href="tel:9582116116" class="contact-link">
        <i class="fas fa-headset"></i>
        <span>9582-116116</span>
      </a>
    </div>

  </div>
</nav>


</section>
