.carousel-img {
  width: 100% !important;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-item {
  position: relative;
}

.carousel-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  text-align: center;
}


