<div id="carouselExample" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">

  <!-- Carousel indicators (dots) -->
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="3" aria-label="Slide 4"></button>
  </div>

  <div class="carousel-inner">
    <div class="carousel-item active position-relative">
      <img src="assets/CarouselImages/image1.jpg" alt="image1" class="d-block w-100 carousel-img" />
      <div class="carousel-overlay d-flex flex-row align-items-center justify-content-center gap-3">
          <a class="btn btn-outline-light d-flex align-items-center gap-2" style="color: blue; background-color: aliceblue;"  routerLink="/BookAppointment">
          <i class="bi bi-calendar-plus"></i> Book Appointment
        </a>
        <a class="btn btn-outline-light d-flex align-items-center gap-2" style="color: black;background-color: aliceblue;" routerLink="/appointment">
          <i class="bi bi-search"></i> Track Appointment
        </a>
      </div>

    </div>
    <div class="carousel-item position-relative">
      <img src="assets/CarouselImages/image2.jpg" alt="image2" class="d-block w-100 carousel-img" />
        <div class="carousel-overlay d-flex flex-row align-items-center justify-content-center gap-3">
          <a class="btn btn-outline-light d-flex align-items-center gap-2" style="color: blue; background-color: aliceblue;"  routerLink="/BookAppointment">
          <i class="bi bi-calendar-plus"></i> Book Appointment
        </a>
        <a class="btn btn-outline-light d-flex align-items-center gap-2" style="color: black;background-color: aliceblue;" routerLink="/appointment">
          <i class="bi bi-search"></i> Track Appointment
        </a>
        </div>
    </div>
    <div class="carousel-item position-relative">
      <img src="assets/CarouselImages/image3.jpg" alt="image3" class="d-block w-100 carousel-img" />
      <div class="carousel-overlay d-flex flex-row align-items-center justify-content-center gap-3">
          <a class="btn btn-outline-light d-flex align-items-center gap-2" style="color: blue; background-color: aliceblue;"  routerLink="/BookAppointment">
          <i class="bi bi-calendar-plus"></i> Book Appointment
        </a>
        <a class="btn btn-outline-light d-flex align-items-center gap-2" style="color: black;background-color: aliceblue;" routerLink="/appointment">
          <i class="bi bi-search"></i> Track Appointment
        </a>
      </div>

    </div>
    <div class="carousel-item position-relative">
      <img src="assets/CarouselImages/image4.jpg" alt="image4" class="d-block w-100 carousel-img" />
      <div class="carousel-overlay d-flex flex-row align-items-center justify-content-center gap-3">
          <a class="btn btn-outline-light d-flex align-items-center gap-2" style="color: blue; background-color: aliceblue;"  routerLink="/BookAppointment">
          <i class="bi bi-calendar-plus"></i> Book Appointment
        </a>
        <a class="btn btn-outline-light d-flex align-items-center gap-2" style="color: black;background-color: aliceblue;" routerLink="/appointment">
          <i class="bi bi-search"></i> Track Appointment
        </a>
      </div>

    </div>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>

  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

